apiVersion: apps/v1
kind: Deployment
metadata:
  name: core-api
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: core-api
          env:
            - name: APP_BASE_URL
              value: https://prebunking.efcsn.com
            - name: VIDEO_STORAGE_BUCKET_NAME
              value: pas-production-storage
            - name: GEMINI_PROJECT
              value: pas-production-1
        - name: cloud-sql-proxy
          args:
            - "--private-ip"
            - "--auto-iam-authn"
            - "--structured-logs"
            - "--port=5432"
            - "pas-production-1:europe-west4:pas-vectordb-instance"
